SUBSYSTEM=="video4linux", ENV{ID_VENDOR_ID}=="1bcf", ENV{ID_MODEL_ID}=="28c5", ENV{ID_USB_MODEL}=="3DO_USB_CAMERA_V2", ATTR{index}=="0", ACTION=="add", SYMLINK+="RatOS/chamber-camera"
